
.popup{
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: calc(20.6770833333vw - 32px);
  position: absolute;
  bottom: -70px;
  right: 24px;
  opacity: 0;
  box-shadow: 0px 3px 30px #00000029;
  overflow: hidden;
  min-width: 240px
}


.popup.active{
  opacity: 1;
  z-index: 9999;
  left: unset;
  right: 24px;
}

.popup.activeLeft{
  opacity: 1;
  z-index: 9999;
  right: unset;
  left: 24px;
}

@media (max-width:590px){
  .popup{
    bottom: -85px;
  }
}

@media (max-width:320px){
  .popup{
    width: calc(100vw - 124px);
  }
  .popup.activeLeft{
    left: 16px;
  }
  
}

.popup .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: space-between;
}

.popup .row:hover{
  background: #cdcdcd;
}

.popup .row .platform{
  display: flex;
  font-size: 13px;
  font-family: 'Montserrat';
  gap: 4px
}
.popup .row .price{
  font: italic normal 300 12px/16px Montserrat;
}

.popup .row:first-child img{
  width: 12px;
  height: 16px;
}

.popup .row img{
  width: 16px;
  height: 16px;
}